- name: apt-get update
  apt:
    update_cache: yes
  become: true

- name: Install package pip3
  apt:
    name: python3-pip
    state: present
  become: true

- name: Install python package flask
  pip:
    name: flask
    executable: pip3
  become: true

- name: Create apps directory
  file: path=/apps state=directory
  become: true

- name: Clone the repository
  git:
    repo: "{{ repository_openstack }}"
    dest: /apps
  become: true

# Create linux service

- name: Copy service script in /etc/init.d
  command: cp /apps/deployment/service.sh /etc/init.d/sombrero_service
  become: true

- name: Set chmod on service script
  file:
    path: /etc/init.d/sombrero_service
    mode: 0755
  become: true