- name: Install python package keystoneauth1
  pip:
    name: keystoneauth1
    executable: pip3
  become: true

- name: Install python package python-keystoneclient
  pip:
    name: python-keystoneclient
    executable: pip3
  become: true

- name: Install python package python-swiftclient
  pip:
    name: python-swiftclient
    executable: pip3
  become: true

- name: Configure service to launch p service
  command: echo "services/p/p" > /etc/init.d/service.conf

- name: Launch P service
  service:
    name: sombrero_service
    state: started
  become: true
