<div id="ident">
    <h1>Identification (Service I)</h1>
</div>

<script>
    var url_i = "{{render_option["url_i"]}}"

    $(document).ready(function(){
        $.ajax({
            url: url_i,
            type : "GET",
            isLocal: true,
            success: function (json) {
                if(jQuery.isEmptyObject(json)){
                    $("#ident").append("Aucun profil n'existe");
                }
                else{
                    var lastname = json.lastname;
                    var firstname = json.firstname;
                    var authent = firstname + " " + lastname + " authentifié";
                    $("#ident").append(authent);
                }
            },
            error: function () {
                $("#ident").append("Le service I ne répond pas");
            }
        });
    })
</script>