<div id="ident">
    <h1>Status (Service S)</h1>
</div>

<script>
    var url_s = "{{render_option["url_s"]}}"

    $(document).ready(function(){
        $.ajax({
            url: url_s,
            type : "GET",
            isLocal: true,
            success: function (json) {
                var status = json.status;
                if(status === "open") {
                    $("#ident").append("Le joueur n'a pas encore joué.");
                } else {
                    $("#ident").append("Le joueur a déjà joué.");
                }

            },
            error: function () {
                $("#ident").append("Le service S ne répond pas");
            }
        });
    })
</script>