<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type=text/javascript src="{{ url_for('static', filename='jquery-3.1.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/javascript.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>{{ render_option["title"] }}</title>
</head>
<body>


<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">OpenStack-Lottery</a>
        </div>

        <div class="collapse navbar-collapse">
            <div class="navbar-form" align="right">
                <span id="service-I" class="label label-danger">Service I</span>
                <span id="service-S" class="label label-danger">Service S</span>
                <span id="service-B" class="label label-danger">Service B</span>
                <span id="service-W" class="label label-danger">Service W</span>
                <span style="margin-right: 33%" id="service-P" class="label label-danger">Service P</span>
                <button type="button" onclick="disconnect()" class="btn btn-danger">Deconnexion</button>
            </div>
        </div>
    </div>
</nav>


<div id="status_play" style="display:none; text-align: center" class="bg-info">Vous avez déjà participé à la
    OpenStack-Lottery, voici votre dernier lot.
</div>
<div id="status_not_play" style="display:none; text-align: center" class="bg-info">Vous n'avez pas encore participé,
    venez tenter votre chance !!!
</div>
<div id="status_not_accessible" style="display:none; text-align: center" class="bg-danger">Nous ne sommes pas en mesures
    d'accéder à votre status, veuillez réessayer une prochaine fois merci.
</div>
<div id="picture_error" style="display:none; text-align: center" class="bg-danger">Nous somme dans l'incapacité de vous montrer votre lot. Revenez une prochaine fois pour voir ou revoir votre surprise.
</div>
<div id="service_b_error" style="display:none; text-align: center" class="bg-danger">Nous n'avons pas put vous faire participer à la grande OpenStack-Lottery. Revenez essayer une prochaine fois.
</div>

<div align="center">
    <h1> </h1>
    <input style="display: none;" class="btn btn-primary" id="play-button" type="button" value="Lancer le tirage au sort" onclick="launch_game()">
    <div id="play-button-progressbar" style="display: none; width: 30%" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
        </div>
    </div>
</div>

<div style="display: none" align="center" id="picture">
    <h1 id="picture-title">Voici votre lot :</h1>
    <img height="30%" width="30%" id="photo"/>
</div>

<footer class="footer">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="label label-success">Service success</span> : the service work
            <span class="label label-danger">Service failed</span> : the service is not accessible
            <span class="label label-warning">Service warning</span> : the service is launched but some dependence is
            not
            accessible
        </div>

        <div class="collapse navbar-collapse">
            <div class="navbar-form navbar-right">
                <span class="glyphicon glyphicon-copyright-mark" aria-hidden="true">Ensimag</span>
            </div>
        </div>
    </div>

</footer>

<script>
    var url = "{{render_option["url"]}}"
    var id = "{{render_option["id"]}}"
    setCurrentID()
    recover_status()
</script>

</body>
</html>