- name: Configure service to launch w service
  shell: echo "services/w/w" > /etc/init.d/service.conf
  become: true

- name: Launch W service
  service:
    name: sombrero_service
    state: started
  become: true