- name: Configure service to launch seb app
  shell: echo "web_app/le_sombrero_argentee/le_sombrero_argentee" > /etc/init.d/service.conf
  become: true

- name: Launch web_app
  service:
    name: sombrero
    state: started
  become: true