- name: Install python package pymysl
  pip:
    name: pymysql
    executable: pip3
  become: true

- name: Configure service to launch i service
  shell: echo "services/i/i" > /etc/init.d/service.conf
  become: true

- name: Launch I service
  service:
    name: sombrero
    state: started
  become: true