---
# This Playbook would deploy the whole application cluster

- hosts: serveur_dns
  roles:
  - role: common_dns
  - role: serveur_dns

- hosts: client_dns
  roles:
  - role: common_dns
  - role: client_dns

- hosts: common_services
  roles:
  - role: common_services

- hosts: service_i
  roles:
  - role: service_i

- hosts: service_b
  roles:
  - role: service_b

- hosts: service_p
  roles:
  - role: service_p

- hosts: service_s
  roles:
  - role: service_s

- hosts: service_w
  roles:
  - role: service_w

- hosts: web_app
  roles:
  - role: web_app

- hosts: common_databases
  roles:
  - role: database

- hosts: status_database
  roles:
  - role: database_s

- hosts: identification_database
  roles:
  - role: database_i