---
# This Playbook would deploy the whole application cluster

- hosts: all
  roles:
  - role: common

- hosts: service_i
  roles:
  - role: common_services
  - role: service_i

- hosts: service_b
  roles:
  - role: common_services
  - role: service_b

- hosts: service_p
  roles:
  - role: common_services
  - role: service_p

- hosts: service_s
  roles:
  - role: common_services
  - role: service_s

- hosts: service_w
  roles:
  - role: common_services
  - role: service_w

- hosts: status_database
  roles:
  - role: database
  - role: database_s

- hosts: identification_database
  roles:
  - role: database
  - role: database_i

- hosts: serveur_dns
  roles:
  - role: common_dns
  - role: serveur_dns

- hosts: client_dns
  roles:
  - role: common_dns
  - role: client_dns
